
<h2>Write a review for {{updatedRestaurant['name']}}</h2>
<form #editForm="ngForm">
    <p>Your Name
        <input name="customer" required minlength="3" #customer = "ngModel" [(ngModel)]="review.customer"> <span *ngIf="!customer.valid">Please enter a name at least three characters long</span>

    </p>
    <p>Rating
        <select name="stars" required #stars = "ngModel" [(ngModel)]="review.stars"> 
            <option selected value=1>1 stomachs</option>
            <option value=2>2 stomachs</option>   
            <option value=3>3 stomachs</option>   
            <option value=4>4 stomachs</option>   
            <option value=5>5 stomachs</option>       
        </select>   <span *ngIf="!stars.valid">Please select a rating</span> 
    </p>
    <p>Description
        <input name="reviewDesc" required minlength="3" #reviewDesc = "ngModel" [(ngModel)]="review.reviewDesc"> <span *ngIf="!reviewDesc.valid">Please enter a description at least three characters long</span>
    </p>
    <button [routerLink]="['/restaurants/' + restaurantId]">Cancel</button>
    <button [disabled]='!editForm.valid' (click)="addReview()">Submit</button>
</form>